<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <h1> Welcome to Client Information</h1>
    <div class="d1">
    <div class="container">
      <div class="jumbostron">
        <a href="/cre" class="btn btn-success">Add Client</a>
        <a href="/list" class="btn btn-success">List Client</a>


      </div>

    </div>

  </div>


  </body>
</html>
